<div class="content">
    <app-filme-cadastrar (elementoCadastrado)="atualizaFilmes($event)"></app-filme-cadastrar>
    <div>
        <h2>Listagem dos filmes</h2>
        <form (ngSubmit)="filtraFilmes()">
            <div class="filter-fieldset">
                <div class="filter-fields">
                    <label for="" class="filter-label">Por ano</label>
                    <input type="text" name="" id="" class="filter-input" [(ngModel)]="byYear">
                </div>
                <div class="filter-fields">
                    <label for="" class="filter-label">Por nota</label>
                    <input type="text" name="" id="" class="filter-input">
                </div>
                <div class="filter-fields">
                    <label>Em cartaz:</label>
                    <label for="cartaz-sim" class="escolha-label">Sim</label>
                    <input type="radio" name="" id="cartaz-sim" class="filter-input">
                    <label for="cartaz-nao" class="escolha-label">Não</label>
                    <input type="radio" name="" id="cartaz-nao" class="filter-input">
                </div>

                <button type="submit">Filtrar</button>
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Título</td>
                    <td>Minutos</td>
                    <td>Data</td>
                    <td>Nota</td>
                    <td>Em exibição</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let film of filmesCadastrados">
                    <td> {{ film.filmeId}} </td>
                    <td> {{ film.titulo}} </td>
                    <td> {{ film.duracao}} </td>
                    <td> {{ film.anoLancamento}} </td>
                    <td> {{ film.avaliacao}} </td>
                    <td> {{ film.emCartaz}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>